nav{
  background-color: red;
}

.nav-item:hover{
  background-color: white;
}

.dropdown-item:hover{
  background-color: lightcoral;
}

.dropdown-menu{
  background-color: green;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.gif { grid-area: 1 / 1 / 5 / 7; 
  background-image: url(/assets/imagenes/gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.texto_gif { grid-area: 2 / 1 / 4 / 4; }

.contactanos { grid-area: 2 / 4 / 4 / 7; }

.texto{
  background-color: hwb(0 50% 50% / 0.397);
}
