* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif; }

.encabezado {
  background-color: #000;
}

.encabezado img {
  height: 100%;
  width: 100%; 
}

nav {
  background-color: red;
  color: #fff;
  font-family: Arial, sans-serif;
  backgr
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

li {
  margin: 10px;
  padding: 0px 40px 0px 50px;
  justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
}

a:hover {
  background-color: #555;
}

.facebook{
 
}